extends ../layout/index
block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1= page
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus justo mauris, accumsan nec feugiat eget, gravida eget ligula. Morbi sit amet diam porta purus condimentum condimentum.
                p Donec eleifend elit cursus, tempor massa vel, eleifend ante. Quisque posuere quam ut gravida dictum. Morbi feugiat urna vitae nunc bibendum eleifend.
                p Mauris tellus dui, hendrerit id orci vitae, aliquam elementum nisi. Etiam ex tellus, porttitor vitae pharetra sit amet, ornare sit amet turpis.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ea harum nesciunt perspiciatis obcaecati.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ea harum nesciunt perspiciatis obcaecati.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ea harum nesciunt perspiciatis obcaecati.