.row.testimoniales
    each testimony in testimonies
        .col-md-6.col-lg-4.mb-4
            .card
                .card-body
                    blockquote.blockquote
                    p.mb-0
                        | #{testimony.message}
                    footer.blockquote-footer
                        | #{testimony.name}